body, html {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #5d5e5f;
    font-weight: 100;
    height: 100%;
    width: 100%;
    -webkit-text-stroke: 0.5px;
}

h1, h2, h3 {
    font-family: Roboto, sans-serif;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 0.02em;
    word-spacing: 0.05em;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 24px;
}

img {
    max-width: 100%;
}

a:hover, a:focus {
    text-decoration: none;
}

.navbar {
    background: rgb(255,255,255);
    background: rgba(255,255,255,.85);
    border-bottom: 0;
}

.navbar-collapse {
    text-align: center;
}

.navbar-nav {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: inline-block;
    float: none;
    vertical-align: top;
}

.nav a {
    color: #777;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background: none;
}

.active {
    background: rgb(52, 152, 219);
    background: rgba(52, 152, 219, 0.16);
}

.home {
    width: 100%;
    height: 75%;
    min-height: 650px;
    position: relative;
    overflow: hidden;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #3498db;
}

.home header {
    color: #fff;
    padding-top: 15%;
}

.profile-picture-container {
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    border: 20px solid rgb(0, 0, 0);
    border: 20px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    overflow: hidden;
    z-index: 1;
}

.profile-picture {
    display: block;
    background: url('../img/profile-picture.jpg') no-repeat;
    height: 200px;
    width: 200px;
    -webkit-border-radius: 225px;
    -moz-border-radius: 225px;
    -ms-border-radius: 225px;
    -o-border-radius: 225px;
    border-radius: 225px;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.profile-picture-hover {
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 200px;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.profile-picture:hover + .profile-picture-hover, .profile-picture-hover:hover {
    top: 0;
}

.profile-picture-hover-text {
    line-height: 200px;
    color: rgb(65, 65, 65);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header-container {
    position: relative;
}

.popup, .popup-two {
    position: absolute;
    text-align: center;
    top: -180px;
    z-index: 0;
    color: white;
    right: 0;
    left: 0;
    width: 210px;
    margin-left: auto;
    margin-right: auto;
}

/* Marquee Scroll */
.marquee {
    width: 300px;
    height: 45px;
    margin: 25px auto;
    overflow: hidden;
    position: relative;
}

.marquee h2 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 1;
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    -moz-transform:translateY(100%);
    -webkit-transform:translateY(100%);
    transform:translateY(100%);
}

.marquee h2:nth-child(1) {
    -moz-animation: one 8s ease infinite;
    -webkit-animation: one 8s ease infinite;
    animation: one 8s ease infinite;
}
.marquee h2:nth-child(2) {
    animation: two 8s ease infinite;
    -moz-animation: two 8s ease infinite;
    -webkit-animation: two 8s ease infinite;
}
.marquee h2:nth-child(3) {
    animation: three 8s ease infinite;
    -moz-animation: three 8s ease infinite;
    -webkit-animation: three 8s ease infinite;
}

@keyframes one {
    0% {
        transform:translateY(-80%);
    }
    10% {
        transform:translateY(0);
    }
    33% {
        transform:translateY(0);
    }
    43% {
        transform:translateY(100%);
    }
    100%{
        transform:translateY(100%);
    }
}
@keyframes two {
    0% {
        transform:translateY(-100%);
    }
    33% {
        transform:translateY(-100%);
    }
    43% {
        transform:translateY(0);
    }
    66% {
        transform:translateY(0);
    }
    76%{
        transform:translateY(100%);
    }
    100%{
        transform:translateY(100%);
    }
}
@keyframes three {
    0% {
        transform:translateY(-100%);
    }
    66% {
        transform:translateY(-100%);
    }
    76% {
        transform:translateY(0);
    }
    90% {
        transform:translateY(0);
    }
    100%{
        transform:translateY(100%);
    }
}
@-moz-keyframes one {
    0% {
        -moz-transform:translateY(-80%);
    }
    10% {
        -moz-transform:translateY(0);
    }
    33% {
        -moz-transform:translateY(0);
    }
    43% {
        -moz-transform:translateY(100%);
    }
    100%{
        -moz-transform:translateY(100%);
    }
}
@-moz-keyframes two {
    0% {
        -moz-transform:translateY(-100%);
    }
    33% {
        -moz-transform:translateY(-100%);
    }
    43% {
        -moz-transform:translateY(0);
    }
    66% {
        -moz-transform:translateY(0);
    }
    76%{
        -moz-transform:translateY(100%);
    }
    100%{
        -moz-transform:translateY(100%);
    }
}
@-moz-keyframes three {
    0% {
        -moz-transform:translateY(-100%);
    }
    66% {
        -moz-transform:translateY(-100%);
    }
    76% {
        -moz-transform:translateY(0);
    }
    90% {
        -moz-transform:translateY(0);
    }
    100%{
        -moz-transform:translateY(100%);
    }
}
@-webkit-keyframes one {
    0% {
        -webkit-transform:translateY(-80%);
    }
    10% {
        -webkit-transform:translateY(0);
    }
    33% {
        -webkit-transform:translateY(0);
    }
    43% {
        -webkit-transform:translateY(100%);
    }
    100% {
        -webkit-transform:translateY(100%);
    }
}
@-webkit-keyframes two {
    0% {
        -webkit-transform:translateY(-100%);
    }
    33% {
        -webkit-transform:translateY(-100%);
    }
    43% {
        -webkit-transform:translateY(0);
    }
    66% {
        -webkit-transform:translateY(0);
    }
    76% {
        -webkit-transform:translateY(100%);
    }
    100% {
        -webkit-transform:translateY(100%);
    }
}
@-webkit-keyframes three {
    0% {
        -webkit-transform:translateY(-100%);
    }
    66% {
        -webkit-transform:translateY(-100%);
    }
    76% {
        -webkit-transform:translateY(0);
    }
    90% {
        -webkit-transform:translateY(0);
    }
    100% {
        -webkit-transform:translateY(100%);
    }
}

.spacer {
    width: 100px;
    height: 2px;
    margin: auto;
    background: #3498db;
}

.profile, .development, .strategy, .music, .contact {
    background: #fff;
    text-align: center;
    width: 100%;
    padding-bottom: 40px;
}

.strategy, .music {
    background: #F1F1F1;
}

.contact {
    background: #3498db;
    padding-bottom: 100px;
}

.section-title {
    font-size: 3em;
    text-align: center;
    color: #555;
    padding: 30px 0 22px 0;
}

@media (max-width: 360px) {
    .section-title {
        font-size: 2.4em;
    }
}

.section-subtitle {
    padding-top: 30px;
}

.chart {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.percent {
    display: inline-block;
    line-height: 150px;
    z-index: 2;
}

.percent:after {
    content: '%';
    margin-left: .1em;
    font-size: .8em;
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.isotope {
    -webkit-transition-property: height,width;
    -moz-transition-property: height,width;
    -ms-transition-property: height,width;
    -o-transition-property: height,width;
    transition-property: height,width;
}

.isotope, .isotope .isotope-item {
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    -ms-transition-duration: .8s;
    -o-transition-duration: .8s;
    transition-duration: .8s;
}

.isotope-item {
    z-index: 2;
}

.portfolio {
    position: relative;
    overflow: hidden;
    height: 190px;
    margin-top: 50px;
}

.portfolio li {
    width: 200px;
    height: 150px;
    vertical-align: top;
    margin: 20px 20px 20px 0;
    color: #fff;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    border: 5px solid rgba(0, 0, 0, 0.1);
}

.portfolio li .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}

.portfolio li .overlay:hover {
    opacity: .8;
    background: #3498db;
}

.portfolio li .overlay i {
    font-size: 2em;
    opacity: 1;
    color: #fff;
    padding-top: 30%;
}

.glyphicon {
    color: #fff;
    line-height: 140px;
    font-size: 30px;
}

.progress {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #D4D4D4;
    position: relative;
}

.progress-bar {
    background-color: #3498db;
}

.progress-bar-percent {
    font-size: 13px;
    position: absolute;
    left: 0;
    color: white;
    -o-transition: left .6s ease;
    -moz-transition: left .6s ease;
    -webkit-transition: left .6s ease;
    transition: left .6s ease;
}

.soundcloud {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    line-height: 40px;
}

.contact .spacer {
    background: white;
}

.contact h2, .contact p, .contact a {
    color: white;
}

.image-loader {
    background: url('../img/profile-cat.jpg');
    display: none;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
    font-size: 0;
}
