body, html {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #5d5e5f;
    font-weight: 100;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    -webkit-text-stroke: 0.5px;
    z-index: 100;
}

h1, h2 {
    font-family: Roboto, sans-serif;
    font-size: 70px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: 0.02em;
    word-spacing: 0.05em;
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
}

.navbar {
    background: rgba(255,255,255);
    background: rgba(255,255,255,.85);
}

.navbar-collapse {
    text-align: center;
}

.navbar-nav {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: inline-block;
    float: none;
    vertical-align: top;
}

.nav a {
    color: #777;
}

.welcome {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.welcome header {
    color: #fff;
    padding-top: 13%;
}

.profile-picture-container {
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    border: 20px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.profile-picture {
    display: block;
    background: url('../img/profile-picture.jpg') no-repeat;
    height: 200px;
    width: 200px;
    -webkit-border-radius: 225px;
    -moz-border-radius: 225px;
    -ms-border-radius: 225px;
    -o-border-radius: 225px;
    border-radius: 225px;
    webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.profile-picture:hover {
    background-position: bottom;
}

/* Marquee Scroll */
.marquee {
    width: 300px;
    height: 50px;
    margin: 25px auto;
    overflow: hidden;
    position: relative;
}

.marquee h2 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

.marquee h2:nth-child(1) {
    transform:translateY(100%);
    -moz-transform:translateY(100%);
    -webkit-transform:translateY(100%);
    animation: one 10s ease infinite;
    -moz-animation: one 10s ease infinite;
    -webkit-animation: one 10s ease infinite;
}
.marquee h2:nth-child(2) {
    transform:translateY(100%);
    -moz-transform:translateY(100%);
    -webkit-transform:translateY(100%);
    animation: two 10s ease infinite;
    -moz-animation: two 10s ease infinite;
    -webkit-animation: two 10s ease infinite;
}
.marquee h2:nth-child(3) {
    transform:translateY(100%);
    -moz-transform:translateY(100%);
    -webkit-transform:translateY(100%);
    animation: three 10s ease infinite;
    -moz-animation: three 10s ease infinite;
    -webkit-animation: three 10s ease infinite;
}


/*================================
    Move the Marquee to the Left
==================================*/

/** Mozilla Firefox Keyframes **/
@-mov-keyframes one {
    0% {
        -mov-transform:translateY(-100%);
    }
    10% {
        -mov-transform:translateY(0);
    }
    33% {
        -mov-transform:translateY(0);
    }
    43% {
        -mov-transform:translateY(100%);
    }
    100%{
        -mov-transform:translateY(100%);
    }
}
@-mov-keyframes two {
    0% {
        -mov-transform:translateY(-100%);
    }
    33% {
        -mov-transform:translateY(-100%);
    }
    43% {
        -mov-transform:translateY(0);        
    }
    66% {
        -mov-transform:translateY(0);
    }
    76%{
        -mov-transform:translateY(100%);
    }
    100%{
        -mov-transform:translateY(100%);
    }
}
@-mov-keyframes three {
    0% {
        -mov-transform:translateY(-100%);
    }
    66% {
        -mov-transform:translateY(-100%);
    }
    76% {
        -mov-transform:translateY(0);        
    }
    90% {
        -mov-transform:translateY(0);
    }
    100%{
        -mov-transform:translateY(100%);
    }
}
/** Webkit Keyframes **/
@-webkit-keyframes one {
    0% {
        -webkit-transform:translateY(-100%);
    }
    10% {
        -webkit-transform:translateY(0);
    }
    33% {
        -webkit-transform:translateY(0);
    }
    43% {
        -webkit-transform:translateY(100%);
    }
    100% {
        -webkit-transform:translateY(100%);
    }
}
@-webkit-keyframes two {
    0% {
        -webkit-transform:translateY(-100%);
    }
    33% {
        -webkit-transform:translateY(-100%);
    }
    43% {
        -webkit-transform:translateY(0);        
    }
    66% {
        -webkit-transform:translateY(0);
    }
    76% {
        -webkit-transform:translateY(100%);
    }
    100% {
        -webkit-transform:translateY(100%);
    }
}
@-webkit-keyframes three {
    0% {
        -webkit-transform:translateY(-100%);
    }
    66% {
        -webkit-transform:translateY(-100%);
    }
    76% {
        -webkit-transform:translateY(0);        
    }
    90% {
        -webkit-transform:translateY(0);
    }
    100% {
        -webkit-transform:translateY(100%);
    }
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
    font-size: 0;
}
